<!-- render a message(maybe just show breeds that match) if there are no dogs -->
<div class="container">
  <div style="text-align: left;"><%= link_to 'Search dogs in your area', dogs_index_path %></div>
  <br/>
  <div style="text-align: left;"><%= link_to 'Search shelters in your area', locations_path %></div>
</div>
<div class="container results min-height">
  <div class="row">
    <h3 class="quiz-header">Meet your new best friend!</h3>

    <% @dogs.keys.each do |breed| %>
    <% @dogs[breed].each do |dog| %>
    <div class="col s12 m6 l4">
      <div class="flip-container" ontouchstart="this.classList.toggle('toggle');">
        <div class="flipper">
          <div class='front col s12'>
            <h5 class="dog-lowercase"><%= dog.name %></h5>
            <p><b>Breed:</b> <%= dog.breeds.join(" / ") %> </p>

            <!-- description cleanup -->
            <% description = dog.description %>
            <% res = dog.description.split("\n") %>
            <% if res.first =~ /function/ %>
            <% res.shift %>
            <% description = res.join("\n").gsub("// ", "") %>
            <% end %>

            <% if dog.photos.first %>
            <img class="activator responsive-img" src=<%= dog.photos.first.medium %> />
            <% else %>
            <p class="no-photo">No photo</p>
            <% end %>
          </div>
          <div class="back col s12">
            <h5 class="dog-lowercase"><%= dog.name %></h5>
            <p><b>Age:</b> <%= dog.age %></p>
            <p><b>Sex:</b> <%= dog.sex %></p>
            <p><b>Breed:</b> <%= dog.breeds.join(" / ") %> </p>
            <p><b>City:</b> <%= dog.city.first %> </p>
            <p><b>Description:</b> <%= description %></p>
          </div>
        </div>
      </div>
    </div>
      <% end %>
    <% end %>
  </div>
</div>
