<!-- render a message(maybe just show breeds that match) if there are no dogs -->

<div class="container">
  <div class="row">
        <% @dogs.keys.each do |breed| %>
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
        <% @dogs[breed].each do |dog| %>
        <% description = dog.description %>
        <% res = dog.description.split("\n") %>
        <% if res.first =~ /function/ %>
          <% res.shift %>
          <% description = res.join("\n").gsub("// ", "") %>
        <% end %>
          <img src=<%= dog.photos.first.medium %>/>
          <span class="card-title"><%= dog.name %></span>
          <p><b>Age:</b> <%= dog.age %></p>
          <p><b>Sex:</b> <%= dog.sex %></p>
          <p><b>Breeds:</b> <%= dog.breeds.join(" / ") %> </p>
          <p><b>City:</b> <%= dog.city.first %> </p>
          <p><b>Description:</b> <%= description %></p>
          <% end %> 
        <% end %>
        </div>
        <div class="card-content">
          <p></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>