<div class="row">
  <% if @spaniel %>
  <% @spaniel.each do |dog| %>
  <img class="dog-bio-pic" src=<%= dog.photos.first %>/>
    <p class="dog-name"><%= dog.name %></p>
    <p><b>Age:</b> <%= dog.age %></p>
    <p><b>Sex:</b> <%= dog.sex %></p>
    <p><b>Breeds:</b> <%= dog.breeds.join(" / ") %> </p>
    <p><b>City:</b> <%= dog.city.first %> </p>
    <p><b>Description:</b> <%= dog.description_sanitized %></p>
<% end %>
<% end %>

<% if @lab %>
<% @lab.each do |dog| %>
 <img class="dog-bio-pic" src=<%= dog.photos.first %>/>
    <p class="dog-name"><%= dog.name %></p>
  <p><b>Age:</b> <%= dog.age %></p>
  <p><b>Sex:</b> <%= dog.sex %></p>
  <p><b>Breeds:</b> <%= dog.breeds.join(" / ") %> </p>
  <p><b>City:</b> <%= dog.city.first %> </p>
  <p><b>Description:</b> <%= dog.description_sanitized %></p>
<% end %>
<% end %>


<% if @golden %>
<% @golden.each do |dog| %>
 <img class="dog-bio-pic" src=<%= dog.photos.first %>/>
    <p class="dog-name"><%= dog.name %></p>
  <p><b>Age:</b> <%= dog.age %></p>
  <p><b>Sex:</b> <%= dog.sex %></p>
  <p><b>Breeds:</b> <%= dog.breeds.join(" / ") %> </p>
  <p><b>City:</b> <%= dog.city.first %> </p>
  <p><b>Description:</b> <%= dog.description_sanitized %></p>
<% end %>
<% end %>

<% if @beagle %>
<% @beagle.each do |dog| %>
 <img class="dog-bio-pic" src=<%= dog.photos.first %>/>
    <p class="dog-name"><%= dog.name %></p>
  <p><b>Age:</b> <%= dog.age %></p>
  <p><b>Sex:</b> <%= dog.sex %></p>
  <p><b>Breeds:</b> <%= dog.breeds.join(" / ") %> </p>
  <p><b>City:</b> <%= dog.city.first %> </p>
  <p><b>Description:</b> <%= dog.description_sanitized %></p>
<% end %>
<% end %>

<% if @bloodhounds %>
<% @bloodhounds.each do |dog| %>
 <img class="dog-bio-pic" src=<%= dog.photos.first %>/>
    <p class="dog-name"><%= dog.name %></p>
  <p><b>Age:</b> <%= dog.age %></p>
  <p><b>Sex:</b> <%= dog.sex %></p>
  <p><b>Breeds:</b> <%= dog.breeds.join(" / ") %> </p>
  <p><b>City:</b> <%= dog.city.first %> </p>
  <p><b>Description:</b> <%= dog.description_sanitized %></p>
<% end %>
<% end %>

<% if @maltese %>
<% @maltese.each do |dog| %>
 <img class="dog-bio-pic" src=<%= dog.photos.first %>/>
    <p class="dog-name"><%= dog.name %></p>
  <p><b>Age:</b> <%= dog.age %></p>
  <p><b>Sex:</b> <%= dog.sex %></p>
  <p><b>Breeds:</b> <%= dog.breeds.join(" / ") %> </p>
  <p><b>City:</b> <%= dog.city.first %> </p>
  <p><b>Description:</b> <%= dog.description_sanitized %></p>
<% end %>
<% end %>
</div>

<% if @shih_tzu %>
<% @shih_tzu.each do |dog| %>
 <img class="dog-bio-pic" src=<%= dog.photos.first %>/>
    <p class="dog-name"><%= dog.name %></p>
  <p><b>Age:</b> <%= dog.age %></p>
  <p><b>Sex:</b> <%= dog.sex %></p>
  <p><b>Breeds:</b> <%= dog.breeds.join(" / ") %> </p>
  <p><b>City:</b> <%= dog.city.first %> </p>
  <p><b>Description:</b> <%= dog.description_sanitized %></p>
<% end %>
<% end %>

<!-- render a message(maybe just show breeds that match) if there are no dogs -->



