<div class="row">
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("Affenpinscher.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Affenpinscher<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Affenpinscher<i class="material-icons right">close</i></span>
	      <p>The Affenpinscher is a balanced, wiry-haired terrier-like toy dog whose intelligence and demeanor make it a good house pet. Of German descent, the breed was developed to rid the kitchens, granaries, and stables of rodents. The total overall appearance of the Affenpinscher is more important than any individual characteristic. He is described as having a neat but shaggy appearance.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("afghan-hound8.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Afghan Hound<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Afghan Hound<i class="material-icons right">close</i></span>
	      <p>The Afghan Hound is an aristocrat, his whole appearance one of dignity and aloofness with no trace of plainness or coarseness. He has a straight front, proudly carried head, eyes gazing into the distance as if in memory of ages past. The striking characteristics of the long silky topknot, peculiar coat pattern, very prominent hipbones, and large feet give the Afghan Hound the appearance of what he is, a king of dogs, that has held true to tradition throughout the ages.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("Airedale-terrier-charles14m.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Airedale Terrier<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Airedale Terrier<i class="material-icons right">close</i></span>
	      <p>Known as the “King of Terriers,” the Airedale is indeed the largest of all terriers. The dog breed originated in the Aire Valley of Yorkshire, and was created to catch otters and rats in the region between the Aire and Wharfe Rivers. An able sporting dog, he became an ideal working dog as well, proving his worth during World War I. Intelligent, outgoing, and confident, the Airedale possesses a wonderful playful streak that delights his owners.
Read more at http://dogtime.com/dog-breeds/airedale-terrier#tS63XrlMwJlrblEg.99</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("akita_02_lg.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Akita<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Akita<i class="material-icons right">close</i></span>
	      <p>Here is some more information about this product that is only revealed once clicked on.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("Malamute_2.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Alaskan Malamute<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Alaskan Malamute<i class="material-icons right">close</i></span>
	      <p>The Alaskan Malamute, one of the oldest Arctic sled dogs, is a powerful and substantially built dog with a deep chest and strong, well-muscled body. The Malamute stands well over the pads, and this stance gives the appearance of much activity and a proud carriage, with head erect and eyes alert showing interest and curiosity. The head is broad. Ears are triangular and erect when alerted. The muzzle is bulky, only slight diminishing in width from root to nose. The muzzle is not pointed or long, yet not stubby. The coat is thick with a coarse guard coat of sufficient length to protect a woolly undercoat. Malamutes are of various colors. Face markings are a distinguishing feature. These consist of a cap over the head, the face either all white or marked with a bar and/or mask. The tail is well furred, carried over the back, and has the appearance of a waving plume.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("American_English_Coonhound_Williams_head_resized.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">American English Coonhound<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">American English Coonhound<i class="material-icons right">close</i></span>
	      <p>Renowned for speed and endurance, the American English Coonhound has a strong but racy body, a deep chest with plenty of lung room, a strong back, broad loin and well-defined musculature. A balanced, powerful dog with no exaggerated parts, the American English possesses the grace and attitude of a well-conditioned athlete.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("American_Eskimo_Dog_in_grass.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">American Eskimo Dog<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">American Eskimo Dog<<i class="material-icons right">close</i></span>
	      <p>The American Eskimo Dog, a loving companion dog, presents a picture of strength and agility, alertness and beauty. It is a small to medium-size Nordic type dog, always white, or white with biscuit cream. The American Eskimo Dog is compactly built and well balanced, with good substance, and an alert, smooth gait. The face is Nordic type with erect triangular shaped ears, and distinctive black points (lips, nose, and eye rims). The white double coat consists of a short, dense undercoat, with a longer guard hair growing through it forming the outer coat, which is straight with no curl or wave. The coat is thicker and longer around the neck and chest forming a lion-like ruff, which is more noticeable on dogs than on bitches. The rump and hind legs down to the hocks are also covered with thicker, longer hair forming the characteristic breeches. The richly plumed tail is carried loosely on the back.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("american-foxhound_01_lg.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">American Foxhound<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">American Foxhound<i class="material-icons right">close</i></span>
	      <p>Skull-Should be fairly long, slightly domed at occiput, with cranium broad and full. Ears-Ears set on moderately low, long, reaching when drawn out nearly, if not quite, to the tip of the nose; fine in texture, fairly broad, with almost entire absence of erectile power-setting close to the head with the forward edge slightly inturning to the cheek-round at tip. Eyes- Eyes large, set well apart, soft and houndlike-expression gentle and pleading; of a brown or hazel color. Muzzle-Muzzle of fair length-straight and square-cut-the stop moderately defined. </p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("AmericanStaffordshireTerrier_hero.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">American Staffordshire Terrier<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">American Staffordshire Terrier<i class="material-icons right">close</i></span>
	      <p>The American Staffordshire Terrier should give the impression of great strength for his size, a well put-together dog, muscular, but agile and graceful, keenly alive to his surroundings. He should be stocky, not long-legged or racy in outline. His courage is proverbial.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("download.jpeg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">American Water Spaniel<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">American Water Spaniel<i class="material-icons right">close</i></span>
	      <p>The American Water Spaniel was developed in the United States as an all-around hunting dog, bred to retrieve from skiff or canoes and work ground with relative ease. The American Water Spaniel is an active muscular dog, medium in size with a marcel to curly coat. Emphasis is placed on proper size and a symmetrical relationship of parts, texture of coat and color.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("anatolian_shepherd_dog.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Anatolian Shepherd Dog<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Anatolian Shepherd Dog<i class="material-icons right">close</i></span>
	      <p>Large, rugged, powerful and impressive, possessing great endurance and agility. Developed through a set of very demanding circumstances for a purely utilitarian purpose; he is a working guard dog without equal, with a unique ability to protect livestock. General impression - Appears bold, but calm, unless challenged. He possesses size, good bone, a well-muscled torso with a strong head. Reserve out of its territory is acceptable. Fluid movement and even temperament is desirable.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("Australian_Cattle_Dog_5585531.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Australian Cattle Dog<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Australian Cattle Dog<i class="material-icons right">close</i></span>
	      <p>The general appearance is that of a strong compact, symmetrically built working dog, with the ability and willingness to carry out his allotted task however arduous. Its combination of substance, power, balance and hard muscular condition must convey the impression of great agility, strength and endurance. Any tendency to grossness or weediness is a serious fault.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("Back_Tri_Australian_Shepherd.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Australian Shepherd<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Australian Shepherd<i class="material-icons right">close</i></span>
	      <p>The Australian Shepherd is an intelligent working dog of strong herding and guarding instincts. He is a loyal companion and has the stamina to work all day. He is well balanced, slightly longer than tall, of medium size and bone, with coloring that offers variety and individuality. He is attentive and animated, lithe and agile, solid and muscular without cloddiness. He has a coat of moderate length and coarseness. He has a docked or natural bobbed tail.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("Australian-Terrier_Retouchee.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Australian Terrier<i class="material-icons right">more_vert</i></span>	    
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Australian Terrier<i class="material-icons right">close</i></span>
	      <p>A small, sturdy, medium-boned working terrier, rather long in proportion to height with pricked ears and docked tail. Blue and tan, solid sandy or solid red in color, with harsh-textured outer coat, a distinctive ruff and apron, and a soft, silky topknot. As befits their heritage as versatile workers, Australian Terriers are sound and free moving with good reach and drive. Their expression keen and intelligent; their manner spirited and self-assured.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("barbet.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Barbet<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Barbet<i class="material-icons right">close</i></span>
	      <p>A rare breed; barbets, especially those shown in conformation shows, are entirely black, black and white, or brown.This woolly sporting dog breed is fun-loving and smart. He was bred for retrieving waterfowl for hunters — and has the webbed feet to prove it — but he’s also a talented agility competitor in his native France.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("basenji.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Basenji<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Basenji<i class="material-icons right">close</i></span>
	      <p>The Basenji is a small, short haired hunting dog from Africa. It is short backed and lightly built, appearing high on the leg compared to its length. The wrinkled head is proudly carried on a well arched neck and the tail is set high and curled. Elegant and graceful, the whole demeanor is one of poise and inquiring alertness. The balanced structure and the smooth musculature enable it to move with ease and agility. The Basenji hunts by both sight and scent. Characteristics-The Basenji should not bark but is not mute. The wrinkled forehead, tightly curled tail and swift, effortless gait are typical of the breed.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("basset-hound-howard_34698_990x742.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Basset Hound<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Basset Hound<i class="material-icons right">close</i></span>
	      <p>The Basset Hound possesses (in marked degree) those characteristics which equip it admirably to follow a trail over and through difficult terrain. It is a short-legged dog, heavier in bone, size considered, than any other breed of dog, and while its movement is deliberate, it is in no sense clumsy. In temperament it is mild, never sharp or timid. It is capable of great endurance in the field and is extreme in its devotion.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("shutterstock_167095736.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Beagle<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Beagle<i class="material-icons right">close</i></span>
	      <p>A miniature Foxhound, solid and big for his inches, with the wear-and-tear look of the hound that can last in the chase and follow his quarry to the death.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("download_(1).jpeg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Bearded Collie<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Bearded Collie<i class="material-icons right">close</i></span>
	      <p>The Bearded Collie is a medium sized dog with a medium length coat that follows the natural lines of the body and allows plenty of daylight under the body. The body is long and lean, and, though strongly made, does not appear heavy. A bright inquiring expression is a distinctive feature of the breed. The Bearded Collie should be shown in a natural stance.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("beauceron.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Beauceron<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Beauceron<i class="material-icons right">close</i></span>
	      <p>The ideal Beauceron is a well balanced, solid dog of good height and well muscled without heaviness or coarseness. He is alert and energetic with a noble carriage. A formidable dog with a frank and unwavering expression, he always demands respect wherever he goes. Male dogs are characteristically larger throughout with a larger frame and heavier bone than the females. The Beauceron should be discerning and confident. He is a dog with spirit and initiative, wise and fearless with no trace of timidity. Intelligent, easily trained, faithful, gentle and obedient. </p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("Belgian_Malinois_Andrews_head_resized.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Belgian Malinois<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Belgian Malinois<i class="material-icons right">close</i></span>
	      <p>The Belgian Malinois is a well balanced, square dog, elegant in appearance with an exceedingly proud carriage of the head and neck. The dog is strong, agile, well muscled, alert, and full of life. He stands squarely on all fours and viewed from the side, the topline, forelegs, and hind legs closely approximate a square. The whole conformation gives the impression of depth and solidity without bulkiness. The male is usually somewhat more impressive and grand than his female counterpart, which has a distinctly feminine look.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("belgian-sheepdog.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Belgian Sheepdog<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Belgian Sheepdog<i class="material-icons right">close</i></span>
	      <p>The first impression of the Belgian Sheepdog is that of a well balanced, square dog, elegant in appearance, with an exceedingly proud carriage of the head and neck. He is a strong, agile, well-muscled animal, alert and full of life. His whole conformation gives the impression of depth and solidity without bulkiness. The male dog is usually somewhat more impressive and grand than his female counterpart. The bitch should have a distinctly feminine look. </p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("Bergamasco.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Bergamasco<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Bergamasco<i class="material-icons right">close</i></span>
	      <p>The Bergamasco is a muscular, heavy-boned herding dog with a large head and a thick tail that hangs down to the hock and curves slightly upward at the end. The entire dog is covered with an abundant coat that forms mats. The Bergamasco is compact in profile but is just slightly longer than tall. The Bergamasco’s characteristic feature is its unique coat, made up of three types of hair. The coat forms flocks (strands of hair weaved together creating flat layers of felted hair) or loose mats, which cover the dog's body and legs, and protect the dog from weather and predators. The hair on the head is typically long and hangs over the eyes.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("bernese-mountain-dog-2.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Bernese Mountain Dog<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Bernese Mountain Dog<i class="material-icons right">close</i></span>
	      <p>The Bernese Mountain Dog is a striking. tri-colored, large dog. He is sturdy and balanced. He is intelligent, strong and agile enough to do the draft and droving work for which he was used in the mountainous regions of his origin. Male dogs appear masculine, while bitches are distinctly feminine.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("h45kjh4kj45h.png") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Bichon Frise<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Bichon Frise<i class="material-icons right">close</i></span>
	      <p>The Bichon Frise is a small, sturdy, white powder puff of a dog whose merry temperament is evidenced by his plumed tail carried jauntily over the back and his dark-eyed inquisitive expression.
				This is a breed that has no gross or incapacitating exaggerations and therefore there is no inherent reason for lack of balance or unsound movement. Any deviation from the ideal described in the standard should be penalized to the extent of the deviation. Structural faults common to all breeds are as undesirable in the Bichon Frise as in any other breed, even though such faults may not be specifically mentioned in the standard.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("BlackAndTanCoonhounds_hero.jpg") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Black and Tan Coonhound<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Black and Tan Coonhound <i class="material-icons right">close</i></span>
	      <p>The Black and Tan Coonhound is first and fundamentally a working dog, a trail and tree hound, capable of withstanding the rigors of winter, the heat of summer, and the difficult terrain over which he is called upon to work. Used principally for trailing and treeing raccoon, the Black and Tan Coonhound runs his game entirely by scent. The characteristics and courage of the Coonhound also make him proficient on the hunt for deer, bear, mountain lion and other big game. Judges are asked by the club sponsoring the breed to place great emphasis upon these facts when evaluating the merits of the dog. The general impression is that of power, agility and alertness. He immediately impresses one with his ability to cover the ground with powerful rhythmic strides.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Bloodhound<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Bloodhound<i class="material-icons right">close</i></span>
	      <p>The Bloodhound possesses, in a most marked degree, every point and characteristic of those dogs which hunt together by scent (Sagaces). He is very powerful, and stands over more ground than is usual with hounds of other breeds. The skin is thin to the touch and extremely loose, this being especially noticeable about the head and neck, where it hangs in deep folds.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Bluetick Coonhound<i class="material-icons right">more_vert</i></span>
	      <p><a href="#">This is a link</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Bluetick Coonhound<i class="material-icons right">close</i></span>
	      <p>The Bluetick should have the appearance of a speedy and well-muscled hound. He never appears clumsy or overly chunky in build. He has a neat, compact body, a glossy coat and clear, keen eyes. In motion he carries his head and tail well up.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Border Collie<i class="material-icons right">more_vert</i></span>
	      <p><a href="#">This is a link</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Border Collie<i class="material-icons right">close</i></span>
	      <p>The Border Collie is a well balanced, medium-sized dog of athletic appearance, displaying style and agility in equal measure with soundness and strength. Its hard, muscular body conveys the impression of effortless movement and endless endurance. The Border Collie is extremely intelligent, with its keen, alert expression being a very important characteristic of the breed. Any aspect of structure or temperament that would impede the dog's ability to function as a herding dog should be severely faulted. The Border Collie is, and should remain, a natural and unspoiled true working sheep dog whose conformation is described herein. Honorable scars and broken teeth incurred in the line of duty are acceptable.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Border Terrier<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Border Terrier<i class="material-icons right">close</i></span>
	      <p>He is an active terrier of medium bone, strongly put together, suggesting endurance and agility, but rather narrow in shoulder, body and quarter. The body is covered with a somewhat broken though close-fitting and intensely wiry jacket. The characteristic "otter" head with its keen eye, combined with a body poise which is "at the alert," gives a look of fearless and implacable determination characteristic of the breed. Since the Border Terrier is a working terrier of a size to go to ground and able, within reason, to follow a horse, his conformation should be such that he be ideally built to do his job. No deviations from this ideal conformation should be permitted, which would impair his usefulness in running his quarry to earth and in bolting it therefrom. For this work he must be alert, active and agile, and capable of squeezing through narrow apertures and rapidly traversing any kind of terrain. His head, "like that of an otter," is distinctive, and his temperament ideally exemplifies that of a terrier.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Borzoi<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Borzoi<i class="material-icons right">close</i></span>
	      <p>The Borzoi was originally bred for the coursing of wild game on more or less open terrain, relying on sight rather than scent. To accomplish this purpose, the Borzoi needed particular structural qualities to chase, catch and hold his quarry. Special emphasis is placed on sound running gear, strong neck and jaws, courage and agility, combined with proper condition. The Borzoi should always possess unmistakable elegance, with flowing lines, graceful in motion or repose. Males, masculine without coarseness; bitches, feminine and refined.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Boston Terrier<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Boston Terrier<i class="material-icons right">close</i></span>
	      <p>The Boston Terrier is a lively, highly intelligent, smooth coated, short-headed, compactly built, short-tailed, well balanced dog, brindle, seal or black in color and evenly marked with white. The head is in proportion to the size of the dog and the expression indicates a high degree of intelligence.
				The body is rather short and well knit, the limbs strong and neatly turned, the tail is short and no feature is so prominent that the dog appears badly proportioned. The dog conveys an impression of determination, strength and activity, with style of a high order; carriage easy and graceful.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Boxer<i class="material-icons right">more_vert</i></span>
	      <p><a href="#">This is a link</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Boxer<i class="material-icons right">close</i></span>
	      <p>The ideal Boxer is a medium-sized, square-built dog of good substance with short back, strong limbs, and short, tight-fitting coat. His well-developed muscles are clean, hard, and appear smooth under taut skin. His movements denote energy. The gait is firm yet elastic, the stride free and ground-covering, the carriage proud. Developed to serve as guard, working, and companion dog, he combines strength and agility with elegance and style. His expression is alert and his temperament steadfast and tractable.
				The chiseled head imparts to the Boxer a unique individual stamp. It must be in correct proportion to the body. The broad, blunt muzzle is the distinctive feature, and great value is placed upon its being of proper form and balance with the skull.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Boykin Spaniel<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Boykin Spaniel<i class="material-icons right">close</i></span>
	      <p>The Boykin Spaniel is medium in size, with emphasis placed on his hunting abilities, characterized by flushing and retrieving, with moderate speed and agility. His pendulous ears, intelligent expression, sturdy build and friendly wagging tail proclaim him part of the spaniel family.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Briard<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Briard<i class="material-icons right">close</i></span>
	      <p>A dog of handsome form. Vigorous and alert, powerful without coarseness, strong in bone and muscle, exhibiting the strength and agility required of the herding dog. Dogs lacking these qualities, however concealed by the coat, are to be penalized. </p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Brittany<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Brittany<i class="material-icons right">close</i></span>
	      <p>A compact, closely knit dog of medium size, a leggy dog having the appearance, as well as the agility, of a great ground coverer. Strong, vigorous, energetic and quick of movement. Ruggedness, without clumsiness, is a characteristic of the breed. He can be tailless or has a tail docked to approximately four inches. </p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Brussels Griffon<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Brussels Griffon<i class="material-icons right">close</i></span>
	      <p> A toy dog, intelligent, alert, sturdy, with a thickset, short body, a smart carriage and set-up, attracting attention by an almost human expression. There are two distinct types of coat: rough or smooth. Except for coat, there is no difference between the two.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Bull Terrier<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Bull Terrier<i class="material-icons right">close</i></span>
	      <p>Should be long, strong and deep right to the end of the muzzle, but not coarse. Full face it should be oval in outline and be filled completely up giving the impression of fullness with a surface devoid of hollows or indentations, i.e., egg shaped. In profile it should curve gently downwards from the top of the skull to the tip of the nose. The forehead should be flat across from ear to ear. The distance from the tip of the nose to the eyes should be perceptibly greater than that from the eyes to the top of the skull. The underjaw should be deep and well defined.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Bulldog<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Bulldog<i class="material-icons right">close</i></span>
	      <p>The perfect Bulldog must be of medium size and smooth coat; with heavy, thick-set, low-swung body, massive short-faced head, wide shoulders and sturdy limbs. The general appearance and attitude should suggest great stability, vigor and strength. The disposition should be equable and kind, resolute and courageous (not vicious or aggressive), and demeanor should be pacific and dignified. These attributes should be countenanced by the expression and behavio</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Bullmastiff<i class="material-icons right">more_vert</i></span>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Bullmastiff<i class="material-icons right">close</i></span>
	      <p>That of a symmetrical animal, showing great strength, endurance, and alertness; powerfully built but active. The foundation breeding was 60 percent Mastiff and 40 percent Bulldog. The breed was developed in England by gamekeepers for protection against poachers. </p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
	      <p><a href="#">This is a link</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>Here is some more information about this product that is only revealed once clicked on.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
	      <p><a href="#">This is a link</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>Here is some more information about this product that is only revealed once clicked on.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
	      <p><a href="#">This is a link</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>Here is some more information about this product that is only revealed once clicked on.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
	      <p><a href="#">This is a link</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>Here is some more information about this product that is only revealed once clicked on.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
	      <p><a href="#">This is a link</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>Here is some more information about this product that is only revealed once clicked on.</p>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6 l4">
	  <div class="card medium">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src=<%= asset_path("") %>>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
	      <p><a href="#">This is a link</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>Here is some more information about this product that is only revealed once clicked on.</p>
	    </div>
	  </div>
	</div>

</div>
