<nav>
  <a href="#" data-activates="slide-out" class="button-collapse right show-on-large"><i class="mdi-navigation-menu material-icons right ">toc</i></a>

  <ul id="slide-out" class="side-nav">
    <!-- <li><a href="#">X</a></li> -->
    <li><%= link_to 'Find My New Friend', dogs_index_path %></li>
    <li><%= link_to 'Personality Quiz', quizzes_path %></li>
    <li><%= link_to 'Breeds and Traits', statics_breeds_traits_path %></li>
    <li><%= link_to 'Get Involed', statics_get_involved_path %></li>
    <li><%= link_to 'PTSD, Our Vets & Man\'s Best Friend', statics_info_page_path %></li>
    <li><%= link_to 'Meet The Team', statics_meet_the_team_path %></li>
    <li><%= link_to 'Login', new_user_session_path %></li>
  </ul>
</nav>
